<footer class="w3-light-grey  w3-card w3-round raleway">

	<div class="w3-row">

		<div class="w3-half w3-container">
			<h3>ABOUT US</h3>
			<p>Welcome to <strong>Freetalk Team</strong>, a leading software outsourcing company founded by a team of seasoned professionals with over 20 years of experience in the software development industry. We specialize in providing high-quality software development services to clients worldwide, helping them turn their ideas into reality.</p>
			<h4>Our Mission</h4>
			<p>At <strong>Freetalk Team</strong>, our mission is to deliver innovative and reliable software solutions that exceed our clients&#39; expectations. We are committed to leveraging our extensive experience and expertise to empower businesses and organizations with cutting-edge technology solutions that drive growth and success.</p>
			<h4>Our Expertise</h4>
			<p>With over two decades of experience in software development, our team has accumulated a wealth of knowledge and expertise across various technologies, platforms, and industries. Our core areas of expertise include:</p>
			<ul>
			<li><strong>Custom Software Development</strong>: Tailored software solutions to meet your unique business requirements.</li><br>
			<li><strong>Web Development</strong>: From simple websites to complex web applications, we&#39;ve got you covered.</li><br>
			<li><strong>Mobile App Development</strong>: Innovative mobile solutions for iOS, Android, and cross-platform development.</li><br>
			<li><strong>Cloud Services</strong>: Utilizing cloud technologies to deliver scalable and flexible solutions.</li><br>
			<li><strong>UI/UX Design</strong>: Creating intuitive and engaging user experiences to enhance your digital products.</li>
			</ul>
			<h4>Our Approach</h4>
			<p>At <strong>Freetalk Team</strong>, we believe in a collaborative and client-centric approach to software development. Our process is transparent, iterative, and focused on delivering tangible results. We work closely with our clients to understand their needs, goals, and challenges, ensuring that our solutions are aligned with their business objectives.</p>
		</div>
		<div class="w3-half w3-container">
			<h3>OUTSOURCING</h3>
			<p>Unlock the potential of your business with our comprehensive IT outsourcing solutions. We specialize in providing tailored services to streamline operations, enhance productivity, and drive innovation. From software development and IT infrastructure management to cybersecurity and technical support, our team of experts ensures seamless integration and optimized performance, allowing you to focus on your core objectives. Partner with us to leverage cutting-edge technology and achieve unparalleled success in today's dynamic digital landscape.</p>
			
			<h3>DONATE</h3>
			<p>We hope you've found our website helpful and informative. As a non-profit organization, we rely on the generosity of people like you to continue our mission of creating free/OS software</p>
			<p>If you've found our work valuable and would like to support us, please consider making a donation. Your contribution, no matter the size, will make a meaningful difference in the lives of those we serve
			</p>
			<p>Thank you for considering supporting us. Together, we can make a positive impact on our community/world
			</p>

			<form action="https://www.paypal.com/donate" method="post" target="_top">
				<input type="hidden" name="hosted_button_id" value="97FX43X7HGWJS" />
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			</form>

			<!-- <div id="paypal-donate-button-container"></div> -->
			
			<h3>CONTACT</h3>
			<ul class="inconsolata w3-ul" style="width: 100%;">
				<li>Address: <%- Config.company.address %></li>
				<li>Email: <a><%- Config.company.support %></a></li>
			</ul>

		</div>

	</div>
	<span class="w3-padding-tiny w3-margin-left small">© 2018-2022 <b>FreeTalk Technologies</b></span>
</footer>

<!-- <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
<script>

	PayPal.Donation.Button({
		env: 'production',
		hosted_button_id: 'XUSKMVK55P35G',
		image: {
			src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
			title: 'PayPal - The safer, easier way to pay online!',
			alt: 'Donate with PayPal button'
		},

		onComplete: function (params) {

			// Your onComplete handler

		},

	}).render('#paypal-donate-button-container');

</script> -->