<div class="column w3-card-2 w3-margin-top inconsolata-p">
	<h4 class="w3-margin-tiny wm6 text-stroke w3-light-grey w3-padding-tiny w3-round text-stroke text-center gradient ellipsis">Release</h4>
	<ul class="cc m10 nounderline">
		<li>
			<a title="Browse source" target="_blank" href="<%- Config.repo %>">Source code</a>
			<p class="smaller">Browse project source code in Github</p>
		</li>
		<li class="smaller">
			<strong>Version: </strong><%- Config.version %>
		</li>
	</ul>
</div>