
.list {
	
	.item {

		border-radius: 6px;

		&:hover  {
			background-color: #0001;
		}

		&[selected] {
			opacity: .9;
			background-color: rgba(255, 255, 255, 0.12);
		}

		/* &:nth-child(even):not(:hover) {
			background-color: rgba(0,0,0, 0.04);
		} */

	}
}

.dark .list {
	.item {
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		/* &:nth-child(even):not(:hover) {
			background-color: rgba(255,255,255,0.02);
		} */
	}
}