@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(font.ttf) format('truetype');
}

.inconsolata {
  font-family: 'Inconsolata';
}
