.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}

.custom-file-input::before {
	content: 'Select file';
	display: inline-block;

	color: #f1f1f1;
	background-color: #007fd4;
	/* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
	border: 1px solid #007fd4;
	border-radius: 5px;
	/* padding: 5px 8px; */
	padding: 1px 2px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	/* text-shadow: 1px 1px #fff; */
	/* font-weight: 700; */
	font-size: 10pt;
}

.custom-file-input:hover::before {
	border-color: black;
}

.custom-file-input:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
  