
.md table {
	background-color: whitesmoke;
	/* margin: 0 auto; */
	border: 1px solid #0002;
}

.md :is(th,td) {
	padding-left: 5px;
	padding-right: 5px;

	white-space: normal; /* Only needed when it's set differntly somewhere else */
	word-wrap: break-word;	
}

.md blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 1em 10px 0.1em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

.md code {
	cursor: text;
	user-select: text;
	white-space: pre-wrap;
	display: inline-block;
	width: 100%;
	/* max-width: 1000px; */
}

.md img {
	position: relative;
}

.md img[alt~="border"] {
	border-radius: 4px!important;
	border: 1px solid #0004;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.md img[alt$=">"] {
	float: right;
	margin-left: 1em;
}

.md img[alt$="<"] {
	float: left;
	margin-right: 1em;
}

.md img[alt$="><"] {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 1.5em auto;
	float: none!important;
}

img[alt^="x24"] { width: 24px; height: 24px; }
img[alt^="x32"] { width: 32px; height: 32px; }
img[alt^="x48"] { width: 48px; height: 48px; }
img[alt^="x64"] { width: 64px; height: 64px; }
img[alt^="z100"] { width: 100%; }
img[alt^="z80"] { width: 80%; }
img[alt^="z60"] { width: 60%; }
img[alt^="z50"] { width: 50%; }
img[alt^="z40"] { width: 40%; }
img[alt^="z20"] { width: 20%; }

.md img[alt^="logo"] {
	--size: 48px;
	width: var(--size); 
	height: var(--size);
}

[mobile="true"] .md img[alt^="logo"] {
	--size: 92px;
}

.md img[alt^="thumb"] {
	max-width: 160px;
}

.md.stroke :is(h1,h2,h3) {
	-webkit-text-stroke: 0.5px #5c5c5c;
}

.md.light :is(h1,h2,h3) {
	opacity: .9;
}

.md li:marker {
	font-size: smaller;
	font-weight: 600;
}

/* .md.nomargin > *:first-child { */
.md.nomargin > :not(.image):first-of-type {
	margin-block-start: 0!important;
}

.md.nomargin > *:last-child {
	margin-block-end: 0!important;
}

.md.compact > * {
	margin-block-start: 10px;
	margin-block-end: 10px;
}

.md.compact > :is(h1,h2,h3,h4) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.md.compact > p:not(.image) {
	--line-clamp: 3;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	white-space: revert;
	-webkit-line-clamp: var(--line-clamp);
	overflow: hidden;
}

.md.compact.r1 > p { --line-clamp: 1; }
.md.compact.r2 > p { --line-clamp: 2; }
.md.compact.r3 > p { --line-clamp: 3; }
.md.compact.r4 > p { --line-clamp: 4; }

.md font {
	display: flex;
	align-items: center;
}

.md font > * {
	--horizontal-margin: 5px;
}

.md font > *:not(:first-child):not(:last-child) {
	margin-left: var(--horizontal-margin);
	margin-right:var(--horizontal-margin); 
}

.md font > *:last-child {
	margin-left: var(--horizontal-margin);
}

.md font > *:first-child {
	margin-right: var(--horizontal-margin);
}

.md font > *:last-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.md.ellipsis td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inconsolata,
.inconsolata-p p,
.inconsolata-li :is(p,li) {
	font-family: "Inconsolata", sans-serif;
}

.serif, .serif-p p {
	font-family: sans-serif;
}