
<template id="editor-wiki-toolbar" classes="right bottom color-icons">
	<button class="icon fa sm fa-edit" name="edit" title="Edit" display="su" role="view"></button> 
	<button class="icon fa sm share" name="share" title="Share" role="view" cmd="share-wiki"></button>
	<!-- <button class="icon fa fa-fw" name="add" title="New" role="su"></button> -->
</template>

<template id="wiki-editor-content" classes="cc m10 max-width wider center w3-container">
	<!-- [[search-area,,wiki,wiki-search-result]] -->
	<div class="search-area column w3-panel max-width w3-margin-top w3-margin-bottom" ds="wiki" template="wiki-search-result" role="search">
		<div class="input-area search cr m5 fit  w3-margin-bottom">
			<input class="fit" type="text" name="search" placeholder="search" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false">
			<button class="icon fa" name="clear" disabled title="Clear"></button>
			<button class="icon fa sm" disabled name="search" title="Search"></button>
		</div>
		<div class="show-container-empty">
			<h1 class="wm6 monospace">Search Wiki database</h1>
			<p class="inconsolata">App documentation, configuration examples, deployment samples and more</p>
			<ul class="inconsolata">
				<li><a cmd="open-start-wiki-wiki">Wiki</a></li>
			</ul>
		</div>
	</div>
	[[editor-wiki-doc-edit]]
	<div class="main hide pointer-links" role="view"></div>
</template>

<template id="editor-wiki-doc-edit" classes="w3-container w3-card-4 cc" role="edit">
	<h2>Edit <b class="w3-text-blue-grey"></b></h2>
	<textarea name="content" class="hidden" placeholder="document content"></textarea>
	<div class="actions w3-content cr w3-margin-bottom" container>
		<button class="icon fa lg" name="submit" title="Update"></button>
		<button class="icon fa lg" name="cancel" title="Discard"></button>
	</div>
</template>

<template id="editor-wiki-doc-content" classes="cc" container data-id="{{this.id}}">
	<div class="cr fit w3-padding-ver-16 path" role="view"></div>
	<span class="md stroke light relative inconsolata-li">
		{{dom.markdown(this.text, this.marked)}}
	</span>
</template>

<template id="wiki-search-result" classes="item cc m2 result noevents w3-padding" data-id="{{this.id}}" cmd="wiki-load-content">
	<a class="row no-child-pointer-events" cmd="open-start-wiki">
		<h3 class="title fit nomargin ellipsis">{{this.title}}</h3>
		<div class="cr m2 ci" style="font-size: 90%;">
		@foreach{{this.tags.split(' ')}}
			<span class="w3-tag w3-light-green">{{this}}</span>
		@endforeach
		</div>
	</a>
	<span class="md compact inconsolata-li hide-selected fade">{{dom.markdown(this.short)}}</span>
	<div class="w3-container cr small ci no-child-pointer-events">
		@if{{this.date}}
			<i>{{this.date.formatTimeDate()}}</i>
		@endif
		@if{{this.channel}}
			{{dom.icon(this.channel.icon,this.channel.iconcolor)}}
			<b>{{this.channel.display || this.channel.name}}</b>
		@endif
		@if{{this.user}}
			<i class="fit text-right">{{'Author: ' + this.user.name}}</i>
		@endif
	</div>
</template>

<template id="wiki-search-result-content" class="md show-selected fade inconsolata-li" role="content">

</template>


