
.comment-bottom {
	display: grid;

	grid-template-areas: 
		"likes like space replies comment"
	;

	grid-template-columns: auto auto 1fr;
	column-gap: 16px;
	align-items: center;
}

.editor .comment-bottom.bottom {
	grid-template-areas: 
		"likes like space replies comment"
		"comments comments comments comments commments"
	;
	row-gap: 10px;
	color: var(--gray-dark);
}

.editor .comments {
	grid-area: comments;
	pointer-events: all;
}

.editor .comments .input {
	padding: 2px;
	display: flex;
	/* flex-direction: row-reverse; */
	/* font-size: small; */
	font-size: 90%;
}

.editor .comments .input input {
	margin: 0 5px;
	width: 100%;
}

.editor .comments a.showmore {
	font-size: smaller;
	width: fit-content;
	align-self: center;
}

.editor .comments .more2:after {
	content: 'more ...';
	text-align: center;
	font-weight: 100;
	display: block;
	font-style: italic;
	font-size: 76%;
	background-color: rgba(255, 255, 255, 0.04); 
	/* border-radius: 6px; */
	padding: 2px;
}

.editor .comments.more.loading3 > .showmore,
.editor .comments:not(.more) > .showmore {
	display: none;
}

.editor .comments .show-empty:empty:before {
	content: 'No comments';
}

.editor .comment.grid {
	padding: 5px;
	margin: 2px 0;
	/* font-size: 90%; */
	border-radius: 5px;

	display: grid;
	grid-template-areas: 
		"photo name time"
		"msg msg msg"
		"bottom bottom bottom"
		;

	grid-template-columns: 22px auto 1fr;
	gap: 5px;
}

.editor .comment > :not(:is(a,.bottom)) {
	pointer-events: none;
}

.editor .comment a.name {
	cursor: pointer;
}

.editor .reply .comment {
	background-color: var(--gray-light);
}

.editor .comment .edit {
	margin-top: 4px;
	max-width: 450px;
}

.editor .comment .name {
	grid-area: name;
	font-weight: bold;
	color: var(--info);
}

.editor .comment span.msg {
	padding: 2px;
	/* white-space: pre-line;
	word-wrap: break-word; */
}

.editor .comment-bottom,
.editor .comment .bottom {
	grid-area: bottom;
}

.comment-bottom .likes {
	grid-area: likes;
	font-size: smaller;
}

.comment-bottom button[name="like"] {
	grid-area: like;
}

.comment-bottom .replies {
	grid-area: replies;
	justify-self: self-end;
	font-size: smaller;
}

.comment-bottom :is( button[name="comment"],i.fa-comment) {
	grid-area: comment;
	justify-self: self-end;
}

.comment-bottom .reaction .fa:hover {
	transform: scale(1.15);
}

.comment-bottom .likes > i.fa:not(:first-child) {
	margin-left: -3px;
}

.comment-bottom i.fa[data-type] {
	border: 2px solid #fffa;
}

button[name="like"], 
.likes > .fa:is([value="like"],[value="love"])  {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	padding: 3px;
	font-size: 70%;
	color: whitesmoke!important;
}

button[name="like"]:is([value="like"],[value="love"]),
.likes > .fa[value="like"] {
	background: radial-gradient(circle at center, #004fa2, var(--blue));
	/* background-color: var(--blue); */
}

button[name="like"]:is([value="like"],[value="love"]):disabled {
	background: inherit;
}

.likes > .fa[value="love"] {
	background-color: var(--red);
}

.fa[value="like"] {
	color: var(--blue);
}

.fa[value="love"] {
	color: var(--red);
}

.fa[value="laugh"] {
	color: var(--yellow);
	-webkit-text-stroke: 2px rgba(var(--yellow), .8);
}

.fa[value="sad"] {
	color: var(--orange);
	-webkit-text-stroke: 2px rgba(var(--orange), .8);
}

.fa[value="like"]:before {
	content: '\f164';
}

.fa[value="love"]:before {
	content: '\f004';
}

.fa[value="laugh"]:before {
	content: '\f59a';
}

.fa[value="sad"]:before {
	content: '\f5b4';
}

.comment-bottom .likes .fa {
	/* border: 1px solid whitesmoke; */
	border: 1px solid #fffa;
}

.comment-bottom .reaction {
	position: absolute;
	left: -20px;
	bottom: 18px;
	white-space: nowrap;
	padding: 2px;
	padding-bottom: 10px;
	z-index: 9;
	font-size: 2em;
}

.editor .comment-bottom button.icon .reaction .fa {
	font-size: 2em;
}

.comment-bottom button.fa.w3-circle:disabled {
	background-color: var(--gray);
}

.editor .comments .input button {
	align-self: flex-end;
}

.input button:not(:disabled) {
	color: var(--blue);
}

.editor .reply {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
}

.editor .comment-bottom img.photo {
	width: 16px;
	height: 16px;
	grid-area: photo;
}

.editor .comment-bottom img.photo:not(:first-child) {
	margin-left: -2px;
}

.editor .comment .msg a {
	font-size: smaller;
}

.editor .comment .msg > *:first-child {
	margin-block-start: 0;
}

.editor .comment .msg > *:last-child {
	margin-block-end: 0;
}

.editor .comment .counter:after {
	font-size: 90%;
	opacity: .8;
}

.editor .comment[data-mid^="offline"] {
	background-color: #f4f4f4;
}

.editor [comments][data-gid^="offline"],
.editor .comment[data-mid^="offline"] button[name="share"],
.editor .comment[data-mid^="offline"] .bottom {
	display: none;
}