<div id="navbar">

	<div class="main container-col">
		<button class="icon item" title="Admin" name="admin" display="su"><i class="fa fa-cog"></i></button>
		<button class="icon item" title="Settings" name="account"><i class="fa fa-circle-user"></i></button>
		<button class="icon item" title="Help" name="help"><i class="fa wiki"></i></button>
	</div>

	<h4 class="nomargin fit text-center ellipsis" style="writing-mode:vertical-rl;rotate:180deg;opacity:.2;">Freetalk Team</h4>
					
	<div class="actions container-col margin-top">
		<button class="icon item hover selected" title="Home" name="home"><i class="fa fa-home"></i></button>
		<button class="icon item hover" title="Chat" name="contact"><i class="fa fa-user-friends"></i></button>
		<button class="icon item hover" title="Tasks" name="task"><i class="fa tasks"></i></button>
		<button class="icon item hover" title="Games" name="game"><i class="fa fa-dice"></i></button>
		<button class="icon item hover" title="Player" name="player"><i class="fa fa-play"></i></button>

	</div>
</div>
