@font-face {
  font-family: 'Monday Feelings';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(font.ttf) format('truetype');
}

.monday-feelings {
  font-family: 'Monday Feelings';
}
