<div class="column w3-card-2 w3-light-grey">
	<h3 class="w3-margin-tiny nomargin w3-blue w3-padding-tiny w3-round text-stroke text-center gradient ellipsis">Features</h3>

	<ul class="container-col m10">
		<li>
			<b class="wm8"><i class="fa fa-user-friends sm w3-margin-right"></i>Chat</b>
			<p class="inconsolata">Text messages (<strong>Markdown</strong>), video calls, screen sharing</p>
		</li>
		<li>
			<b class="wm8"><i class="fa fa-list sm w3-margin-right"></i>Task Board</b>
			<p class="inconsolata">Create and edit tasks. Partially compatible with <strong>Trac</strong> database</p>
		</li>
		<li>
			<b class="wm8"><i class="fa fa-gamepad sm w3-margin-right"></i>Games</b>
			<p class="inconsolata">Play games with friends</p>
		</li>
		<li>
			<b class="wm8"><i class="fa fa-play-circle sm w3-margin-right"></i>Music Player</b>
			<p class="inconsolata">Listen music. Share albums and playlists</p>
		</li>
	</ul>
</div>