<div class="w3-container nounderline w3-margin-top">

	<h4 class="nomargin wm6">Privacy & Security</h4>
	<ul class="cc">
		
		<li>
			<a title="Show Privacy Policy" href="/policy/privacy">Privacy Policy</a>
		</li>
		<li>
			<a title="Show Security Policy" href="/policy/security">Security Policy</a>
		</li>
		<li>
			<a title="Show Terms of service" href="/policy/terms">Terms of service</a>
		</li>
	</ul>

	<h4 class="nomargin wm6">Help</h4>
	<ul class="cc m10">
		<li>
			<a title="Go to Wiki" href="/doc/wiki">Wiki</a>
			<p class="smaller">Useful iformation about the software</p>
		</li>
		<li>
			<a title="Open Trac" href="/trac">Trac</a>
			<p class="smaller">Known issues and opened tasks</p>
		</li>
	</ul>

	<h4 class="nomargin wm6">What's new</h4>
	<ul class="cc m10">
		<li>
			<b class="wm8">Last release</b>
			<p class="smaller">Nov 24, 2023 - <strong>0.9.1-beta</strong> version</p>
		</li>
	</ul>

</div>