<div id="add-editor" class="hidden container edit add-editor">
	<div class="header column">
		<div class="row fit">
			<i class="fa fa-fw icon circle stroke fa-dot-circle" role="icon"></i>
			<div class="container-col fit">
				<h2 class="title text-stroke wm8 nomargin"></h2>
				<span class="ns italic smaller"></span>
			</div>
			<div class="right bottom end-items container-row">
				<button name="submit" title="Update" disabled class="icon fa"></button>
				<button name="cancel" title="Clear" class="icon fa"></button>
			</div>
		</div>
		<!-- <span class="ns">ftalk.eu</span> -->
		
	</div>

	<div class="editor column dark">
		<div class="tabbar container-row w3-padding-ver-8 margin-top">
			<span class="tab active" tab="main">main</span>
		</div>
	</div>

</div>

<template id="editor-add-code" classes="container-row fade hidden max-height" style="height:100%;">
	<textarea class="fit" name="code"></textarea>
</template>

<template id="editor-add-test" classes="container-col w3-container w3-padding fade">
	<button class="smaller bold w3-padding-small" name="send" title="Test code">Send</button>
	<div class="results w3-card-4 container-col noverflow"></div>
</template>

<template id="editor-add-scrap-result" classes="column">
	<h3 class="nomargin ellipsis">{{this.title}}</h3>
	<div class="container-row fit center-items">
		<a target="_blank" href="{{this.data.thumb}}">thumb</a>
		<a target="_blank" href="{{this.data.link}}">link</a>
		<button class="icon fa fa-arrow-alt-circle-down display-hover w3-text-blue right" name="scrap" style="margin-left: auto;" title="Scrap"></button>
	</div>
</template> 

<template id="editor-add-weather-result" classes="column">
	<h3 class="nomargin ellipsis">{{this.name}}</h3>
	<div class="column smaller fit list2">
		@foreach{{Object.entries(this)}}
			<span class="container-row item">
				<b class="fit">{{this[0]}}</b>
				<i>{{this[1]}}</i>
			</span>
		@endforeach
	</div>
</template> 
